.se-hai {
    display: none;
}
.dai-cosa {
    display: none;
}
.dai-a-chi {
    display: none;
}

.setting-dai-a-tizio .dai-a-chi.dai-a-tizio {
    display: initial;
}

.tag-hai-fuoco .se-hai.hai-fuoco {
    display: initial;
}
.tag-hai-fuoco .non-hai.hai-fuoco {
    display: none;
}
.setting-dai-fuoco .dai-cosa.dai-fuoco {
    display: initial;
}

.tag-hai-acqua .se-hai.hai-acqua {
    display: initial;
}
.tag-hai-acqua .non-hai.hai-acqua {
    display: none;
}
.setting-dai-acqua .dai-cosa.dai-acqua {
    display: initial;
}

.tag-hai-terra .se-hai.hai-terra {
    display: initial;
}
.tag-hai-terra .non-hai.hai-terra {
    display: none;
}
.setting-dai-terra .dai-cosa.dai-terra {
    display: initial;
}

.tag-hai-aria .se-hai.hai-aria {
    display: initial;
}
.tag-hai-aria .non-hai.hai-aria {
    display: none;
}
.setting-dai-aria .dai-cosa.dai-aria {
    display: initial;
}

.tag-hai-lance .se-hai.hai-lance {
    display: initial;
}
.tag-hai-lance .non-hai.hai-lance {
    display: none;
}
.setting-dai-lance .dai-cosa.dai-lance {
    display: initial;
}

.tag-hai-maze .se-hai.hai-maze {
    display: initial;
}
.tag-hai-maze .non-hai.hai-maze {
    display: none;
}
.setting-dai-maze .dai-cosa.dai-maze {
    display: initial;
}
